/* Error.css */
.error-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.error-text {
	font-size: 18px;
	color: #ff0000; /* Color rojo para el mensaje de error */
}
